<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil Bibliothécaire</title>
</head>
<body>
    <h1>Bienvenue Bibliothécaire</h1>
    <p>Accédez aux fonctionnalités réservées aux bibliothécaires ici.</p>
        <li><a href="{% url 'gestion:liste_membres' %}">Gérer les membres</a></li>
        <li><a href="{% url 'gestion:create_emprunt' %}">Créer un emprunt</a></li>
        <li><a href="{% url 'gestion:add_media' %}">Ajouter un média</a></li>
        <li><a href="{% url 'gestion:list_medias' %}">Voir les médias disponibles</a></li>
        <li><a href="{% url 'select_role' %}">Changer de rôle</a></li>

</body>
</html>
