<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue à la Médiathèque</h1>
    <p>
        <a href="{% url 'gestion:liste_membres' %}">Gérer les membres</a><br>
        <a href="{% url 'gestion:liste_medias' %}">Gérer les médias</a><br>
        <a href="{% url 'gestion:liste_medias_membre' %}">Voir les médias disponibles</a>
    </p>
</body>
</html>

