<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
<h1>Liste des Médias</h1>
    <h2>Livres</h2>
    <ul>
        {% for livre in livres %}
            <li>{{ livre.name }} ({{ livre.auteur }})</li>
        <pre>{{ livre }}</pre>
        {% empty %}
            <li>Aucun livre disponible</li>
        {% endfor %}
    </ul>

    <h2>DVDs</h2>
    <ul>
        {% for dvd in dvds %}
            <li>{{ dvd.name }} ({{ dvd.realisateur }})</li>
        {% empty %}
            <li>Aucun DVD disponible</li>
        {% endfor %}
    </ul>

    <h2>CDs</h2>
    <ul>
        {% for cd in cds %}
            <li>{{ cd.name }} ({{ cd.artiste }})</li>
        {% empty %}
            <li>Aucun CD disponible</li>
        {% endfor %}
    </ul>

    <h2>Jeux de Plateau</h2>
    <ul>
        {% for jeu in jeux_de_plateau %}
            <li>{{ jeu.name }} ({{ jeu.createur }})</li>
        {% empty %}
            <li>Aucun jeu de plateau disponible</li>
        {% endfor %}
    </ul>